@rendermode InteractiveServer
@inject IStringLocalizer<Language> localizer

<ToastComponent/>

<div class="card p-2 " style="margin:1rem">
    <DxMenu Orientation="Orientation.Horizontal"
            DropDownActionMode="MenuDropDownActionMode.Click"
            DisplayMode="MenuDisplayMode.Desktop"
            CollapseItemsToHamburgerMenu="true"
            CollapseItemToIconMode="MenuCollapseItemToIconMode.All">
        <TitleTemplate>
            <DxButton RenderStyle="ButtonRenderStyle.None" Text="@($"{localizer["Service"]}")"></DxButton>
        </TitleTemplate>
        <Items>
            <DxMenuItem Position="ItemPosition.Center" Text="Shopfloor" IconCssClass="oi oi-list">
                <Items>
                    <DxMenuItem Text="Process" IconCssClass="oi oi-ellipses" NavigateUrl="/Process" />
                    <DxMenuItem Text="Station" IconCssClass="oi oi-monitor" />
                    <DxMenuItem Text="Workorder" IconCssClass="oi oi-clipboard" NavigateUrl="/WorkordersDashboard" />
                </Items>
            </DxMenuItem>
            <DxMenuItem Position="ItemPosition.Center" Text="Machine" IconCssClass="oi oi-laptop" BeginGroup="true" />
            <DxMenuItem Position="ItemPosition.Center" Text="Tags" IconCssClass="oi oi-tags" />
            <DxMenuItem Position="ItemPosition.Center" Text="Setting" IconCssClass="oi oi-cog" BeginGroup="true" />
            <DxMenuItem Position="ItemPosition.Center" Text="Developer" IconCssClass="oi oi-person" BeginGroup="true">
                <Items>
                    <DxMenuItem Text="Command" IconCssClass="oi oi-terminal" />
                </Items>
            </DxMenuItem>
        </Items>
    </DxMenu>
</div>

@code {


    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }


}
