@page "/"

<div class="h-100 d-flex align-items-center justify-content-around">
	<IndexNavComponent NavLink="StationsDashboard" IconName="station" Text="Station Dashboard"></IndexNavComponent>
	<IndexNavComponent NavLink="WorkordersDashboard" IconName="workorder" Text="Workorder Dashboard"></IndexNavComponent>
	<IndexNavComponent NavLink="MapsDashboard" IconName="map" Text="Map Dashboard"></IndexNavComponent>
</div>

@code {
}