@page "/{ProcessID}/MachineDashboard"
@rendermode InteractiveServer

<div class="h-100 d-flex flex-wrap align-content-start gap-3 justify-content-evenly">
    @foreach (Machine machine in machines)
    {
        <MachineComponent MachineParam="@machine"/>
    }
</div>

@code {
    [Parameter]
    public string ProcessID{ get; set; }

    private List<Machine> machines = new();

    protected override async Task OnInitializedAsync()
    {
        machines = await shopfloorService.GetMachineByProcessID(new Guid(ProcessID));
    }

    private async Task InitParam()
    {
        machines = await shopfloorService.GetMachineByProcessID(new Guid(ProcessID));
        machineService.MachineConfigChangedAct += MachineConfigChanged;
    }

    private async void MachineConfigChanged(Guid id, DataEditMode mode)
    {
        if (machines.Any(x => x.Id == id))
        {
            //delete or update
            await InitParam();
        }
        else
        {
            if (mode == DataEditMode.Insert)
            {
                await InitParam();
            }
        }
    }
}
