.mycontent {
    position: absolute;
    background-color: rgb(79, 79, 79, 0.9);
}

.movecursor {
    cursor:move;
}

.resizecursor {
    cursor:nw-resize;
}


.main {
    outline-style: solid;
    outline-color: rgb(0, 255, 255);
}
