@page "/ProcessRoute/{ProcessID}"
@rendermode InteractiveServer
@inject NavigationManager navigationManager

<div class="h-100">
    <DxStackLayout Orientation="Orientation.Vertical" ItemSpacing="2rem" CssClass="h-100">
        <Items>
            <DxStackLayoutItem Length="auto">
                <Template>
                    <div>
                        <div class="alert alert-secondary" role="alert">
                            <h2>@process.Name</h2>
                        </div>
                    </div>
                </Template>
            </DxStackLayoutItem>
            <DxStackLayoutItem>
                <Template>
                    <div class="h-100 d-flex align-items-center justify-content-around">
                        <ProcessRoutingComponent NavLink="@($"{ProcessID}/StationAction")" IconName="station" Text=@($"{localizer[$"Station Dashboard"]}")></ProcessRoutingComponent>
                        <ProcessRoutingComponent NavLink="@($"{ProcessID}/MachineDashboard")" IconName="machine" Text=@($"{localizer[$"Machine Dashboard"]}")></ProcessRoutingComponent>
                    </div>
                </Template>
            </DxStackLayoutItem>
        </Items>
    </DxStackLayout>
</div>

@code {
    [Parameter]
    public string ProcessID { get; set; }

    private Process? process;

    protected override async Task OnInitializedAsync()
    {
        process = await shopfloorService.GetProcessByID(new Guid(ProcessID));
    }
}
